* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.container {
  position: relative;
}
.contact-banner {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.contact-banner .slide-social-media ul li {
  margin: 0;
  margin-bottom: 5px;
  display: block;
}
.contact-banner .slide-social-media ul li a {
  background-color: transparent;
  border: 1px solid #777;
}
/*-----------------------------------------------*/
/*--------------Header---------------------------*/

.header-container {
  position: relative;
  height: 100vh;
  background: url("img/bg.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;

  clip-path: polygon(100% 100%, 50% 93%, 0 100%, 0 0, 100% 0);
  user-select: none;
}
.layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 4;
}

/*-- Menu --*/

.menu {
  background-color: transparent;
  display: flex;
  position: fixed;
  justify-content: space-between;

  padding: 0 20px 0 40px;
  width: 100%;
  height: 80px;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}
.active {
  background-color: #242424a8;
  height: 80px;
  animation: menuShow 1s;
}
.menu-logo {
  font-weight: 700;

  display: flex;
  align-items: center;
}
.menu-logo .fab {
  margin-right: 5px;
  font-size: 30px;
  color: #fff;

  position: relative;
  top: -10px;
}
.menu-logo > a {
  color: #fff;
  font-size: 38px;
  text-decoration: none;
}
.menu-logo > a:hover .fab {
  transform: rotate(360deg);
  transition: 0.3s ease-in-out;
}
.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
  height: 80px;
}
.menu ul li a {
  color: #fff;
  text-decoration: none;

  font-size: 20px;
  line-height: 80px;

  display: block;
  padding: 0 40px;
  transition: all 0.3s ease-in-out;
}
.menu ul li a:hover {
  border-bottom: 2px solid #fff;
  line-height: calc(80px - 2px);
}
.nav-menu {
  display: none;
}
.nav-menu i {
  color: #fff;
  height: 80px;
  line-height: 80px;
  font-size: 32px;

  cursor: pointer;
}

/*------- Header content -------*/
.header-content {
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  padding-top: 2rem;
  top: 100px;
  width: 100%;
  height: 50%;
}
.header-content > h1 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
}
.border_bt {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #fff;
}
.header-content > p {
  font-size: 50px;
  text-transform: uppercase;
}

/*--------------------------- About ---------------------*/
.about {
  padding-top: 80px;
}
.about-banner {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px 0 rgba(1, 2, 2, 0.05);
}
.about-banner > h1 {
  letter-spacing: 2px;
  color: sandybrown;
}
.about-banner .border_bt {
  margin-top: 5px;
  background-color: sandybrown;
}
.about-content-wrap-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.about-content-wrap {
  width: 1200px;
  height: 400px;
  background-color: #fff;
  display: flex;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.about-content {
  width: calc(50% - 50px);
  padding: 20px;
  height: 100%;
}
.about-content > h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.about-content p {
  margin-bottom: 1rem;
  color: #909090;
}
.about-img-box {
  width: calc(50% + 50px);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 40% 100%);
  height: 100%;
  background: url(img/avatar.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*-------------------------- Skill ----------------------*/
.skill {
  padding-top: 80px;
}
.skill-box-wrap {
  display: flex;
  justify-content: center;
}
.skill-box {
  width: 1100px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: auto;
  padding-right: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skill-content {
  display: flex;
  width: 340px;
  height: 250px;
  padding: 10px;

  border: 2px solid #c1c4e8;
  border-radius: 10px;
}
.skill-logo-box {
  width: 30%;
  margin-right: 1rem;
}
.skill-logo-box img {
  width: 100%;
}
.skill-box-text {
  padding: 20px;
}
.skill-box-text > h2 {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.skill-box-text ul li {
  margin-bottom: 0.5rem;
  color: #909090;
}

/*-------------------- Contact ----------------*/
.contact {
  position: relative;
}
.contact-content {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #242424;
}
.contact-content-wrap {
  width: 800px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: auto;
  padding-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-content h1 {
  color: #fff;
  margin-bottom: 1rem;
}
.contact-content h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  color: #fff;
}

.contact-info {
  color: #fff;
  text-align: left;
  margin-bottom: 2rem;
}
.contact-info ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
}
.contact-info ul li i {
  margin-right: 10px;
}
.slide-social-media ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.slide-social-media ul li a {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;

  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  transition: 0.5s;
  background: #f1f1f1;

  overflow: hidden;
}
.slide-social-media ul li a i {
  display: block;
  line-height: 60px;
  width: 100%;
  font-size: 28px;
  color: #777;
  transition: 0.5s;
}
.slide-social-media ul li:hover a i:nth-child(1) {
  transform: translateY(-60px);
}
.slide-social-media ul li:hover a i:nth-child(2) {
  transform: translateY(-60px);
  color: #fff;
}
.slide-social-media ul li:hover:nth-child(1) a {
  background-color: #3b5998;
}
.slide-social-media ul li:hover:nth-child(2) a {
  background-color: #55acee;
}
.slide-social-media ul li:hover:nth-child(3) a {
  background-color: #e4405f;
}
.slide-social-media ul li:hover:nth-child(4) a {
  background-color: #dd4b39;
}
.slide-social-media ul li:hover:nth-child(5) a {
  background-color: #000;
}

/*-------------- Respronsive ----------------*/

@media (max-width: 1040px) {
  .skill-box {
    justify-content: center;
  }
  .skill-content {
    margin: 0 1rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 960px) {
  .header-content > h1 {
    font-size: 50px;
  }
  .header-content > p {
    font-size: 30px;
  }

  .about-content-wrap {
    flex-direction: column-reverse;
    height: 600px;
  }
  .about-img-box {
    width: 100%;
    height: 500px;
    background-position-y: -80px;
    clip-path: none;
  }
  .about-content {
    width: 100%;
    padding-right: 60px;
  }
}
@media (max-width: 750px) {
  .menu {
    padding: 0 4rem;
  }
  .nav-menu {
    display: block;
  }
  .menu ul {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;

    background-color: #242424;
    flex-direction: column;
    transform: translateX(-100%);
    transition: all 0.6s ease-in-out;
  }
  .menu ul li a:hover {
    background-color: #f1f1f1;
    color: #000;
    border: none;
  }
  .header-content > h1 {
    font-size: 40px;
  }
  .header-content > p {
    font-size: 20px;
  }
  .contact-content h1 {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .header-content > h1 {
    font-size: 30px;
  }
  .contact .slide-social-media ul li {
    margin: 0 5px;
  }
  .layer,
  .p_layer {
    animation: none;
  }
}
/*------------------ Animation -------------------*/

@keyframes menuShow {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.nav-bar.navActive {
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.menu.navActive {
  background-color: #242424;
}
